<section class="min-vh-100">
  <div class="inner-section-padding">
    <h1 class="text-uppercase mx-auto mb-0 main-heading">contact us</h1>
    <!-- start grid system -->
    <div class="container-fluid w-75">
      <div class="row justify-content-evenly">
        <!-- start left side -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <div class="content">
                <!-- start form -->
                <form class="text-center">
                  <input
                    type="text"
                    class="form-control my-3"
                    placeholder="Full Name"
                  />
                  <input
                    type="email"
                    class="form-control my-3"
                    placeholder="Email"
                  />
                  <input
                    type="tel"
                    class="form-control my-3"
                    placeholder="Phone Number"
                  />
                  <button type="submit" class="text-uppercase form-btn">
                    send
                  </button>
                </form>
                <!-- end form -->
              </div>
            </div>
          </div>
        </div>
        <!-- end left-side -->

        <!-- right side -->
        <div class="col-md-6 d-flex flex-column justify-content-evenly py-5">
          <div class="my-3">
            <i class="fa-solid fa-envelope"></i>
            <span class="ms-3">upskilling.eg1&#64;gmail.com</span>
          </div>
          <div class="my-3">
            <i class="fa-solid fa-phone-volume"></i>
            <span class="ms-3">+20 115 493 2137</span>
          </div>
        </div>
        <!-- end right side -->
      </div>
    </div>
    <!-- end grid system -->
  </div>
  <!-- start fixed part -->
  <div class="fixed-bottom dark-fixed-part"></div>
  <!-- end fixed part -->
</section>
