<section class="min-vh-100 d-flex flex-column justify-content-between">
  <div class="inner-section-padding ">
    <h1 class="text-uppercase mx-auto mb-0 main-heading">contact us</h1>
    <!-- start grid system -->
    <div class="container-fluid my-w-75">
      <div class="row justify-content-evenly">
        <!-- start left side -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <div class="content">
                <!-- start form -->
                <form
                  class="text-center"
                  (ngSubmit)="handleForm()"
                  [formGroup]="contactForm"
                >
                  <!-- name input -->
                  <input
                    type="text"
                    class="form-control my-3"
                    placeholder="Full Name"
                    formControlName="name"
                  />
                  <div
                    class="alert alert-danger mt-3"
                    *ngIf="
                      contactForm.get('name')?.errors &&
                      contactForm.get('name')?.touched
                    "
                  >
                    <p *ngIf="contactForm.get('name')?.getError('required')">
                      name is required
                    </p>
                    <p *ngIf="contactForm.get('name')?.getError('minlength')">
                      Name must be at least 3 characters.
                    </p>
                    <p *ngIf="contactForm.get('name')?.getError('maxlength')">
                      Name must not exceed 15 characters.
                    </p>
                  </div>

                  <!-- email input -->
                  <input
                    type="email"
                    class="form-control my-3"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <div
                    class="alert alert-danger mt-3"
                    *ngIf="
                      contactForm.get('email')?.errors &&
                      contactForm.get('email')?.touched
                    "
                  >
                    <p *ngIf="contactForm.get('email')?.getError('required')">
                      Email is required
                    </p>
                    <p *ngIf="contactForm.get('email')?.getError('email')">
                      Invalid email address
                    </p>
                  </div>

                  <!-- phone input -->
                  <input
                    type="tel"
                    class="form-control my-3"
                    placeholder="Phone Number"
                    formControlName="phone"
                  />
                  <div
                    class="alert alert-danger mt-3"
                    *ngIf="
                      contactForm.get('phone')?.errors &&
                      contactForm.get('phone')?.touched
                    "
                  >
                    <p *ngIf="contactForm.get('phone')?.getError('required')">
                      Phone is required
                    </p>
                    <p *ngIf="contactForm.get('phone')?.getError('pattern')">
                      Invalid phone number
                    </p>
                  </div>

                  <!-- form button -->
                  <button type="submit" class="text-uppercase form-btn">
                    send <i class="fa-solid fa-spinner fa-spin " *ngIf="isLoading"></i>
                  </button>
                </form>

                <div
                  class="alert alert-success mt-3 text-center"
                  *ngIf="successMsg"
                >
                  <p>{{ successMsg }}</p>
                </div>

                <!-- end form -->
              </div>
            </div>
          </div>
        </div>
        <!-- end left-side -->

        <!-- right side -->
        <div class="col-md-6 d-flex flex-column py-5">
          <div class="my-3">
            <i class="fa-solid fa-envelope"></i>
            <span class="ms-3">upskilling.eg1&#64;gmail.com</span>
          </div>
          <div class="my-3">
            <i class="fa-solid fa-phone-volume"></i>
            <span class="ms-3">+20 115 493 2137</span>
          </div>
        </div>
        <!-- end right side -->
      </div>
    </div>
    <!-- end grid system -->
  </div>
  <!-- start fixed part -->
  <div class=" dark-fixed-part"></div>
  <!-- end fixed part -->
</section>
