<section class="min-vh-100">
  <div class="inner-section-padding">
    <h1 class="text-uppercase mx-auto mb-0 main-heading">contact us</h1>
    <div class="container-fluid w-75">
      <div class="row justify-content-evenly">
        <!-- left side -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-12">
              <div class="content">
                <form action="">
                  <input type="text" class="form-control" />
                  <input type="email" class="form-control" />
                  <input type="tel" class="form-control" />
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- right side -->
        <div class="col-md-6 d-flex flex-column justify-content-between">
          <div class="my-3">
            <i class="fa-solid fa-envelope"></i>
            <span class="ms-3">upskilling.eg1&#64;gmail.com</span>
          </div>
          <div class="my-3">
            <i class="fa-solid fa-phone-volume"></i>
            <span class="ms-3">+20 115 493 2137</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
