h1,
p {
  color: var(--light-color);
}
h1 {
  font-size: var(--h1-md);
}
p {
  font-size: 16px;
  font-weight: 600;
}
.m-row {
  margin-inline: -12px;
}
.w-15 {
  width: 15%;
}
.width-75 {
  width: 75%;
}
.about-img{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}
@media (max-width: 1199.98px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 1037px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 871px) {
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 14px;
  }
  .width-75 {
    width: 95%;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }
}
