<section class="min-vh-100">
  <!--<div class="bg-color-cover w-60 min-vh-100"></div>
<div class="bg-image-cover w-40 min-vh-100"></div> -->
  <div class="container-fluid min-vh-100 m-row">
    <div class="row min-vh-100 g-0 px-0">
      <!-- left side -->
      <div class="col-8 bg-color-cover min-vh-100">
        <div class="d-flex justify-content-between flex-column min-vh-100">
          <h2 class="text-uppercase w-50 mx-auto">
            Peachy Pup <br />
            Bakery
          </h2>
          <div
            class="d-flex justify-content-center align-items-center flex-column width-75 mx-auto ps-5"
          >
            <h1 class="text-uppercase me-auto">Tasty pastries</h1>
            <p class="pe-5">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the
            </p>
            <button type="button" class="text-uppercase main-btn me-auto">
              see more
            </button>
          </div>

          <div class="d-flex">
            <!-- social-media icons -->
            <div class="w-40 me-4 bg-light">
              <div class="bg-image-small w-100 pt-3">
                <ul class="list-unstyled">
                  <li class="w-15 ms-auto">
                    <a href="#"
                      ><i class="fa-brands fa-square-google-plus"></i
                    ></a>
                  </li>
                  <li class="w-15 ms-auto">
                    <a
                      href="https://www.facebook.com/UpskillingEG/"
                      target="_blank"
                      ><i class="fa-brands fa-square-facebook"></i
                    ></a>
                  </li>
                  <li class="w-15 ms-auto">
                    <a href="#"
                      ><i class="fa-brands fa-square-instagram"></i
                    ></a>
                  </li>
                  <li class="w-15 ms-auto">
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- phone number -->
            <div class="w-60 align-self-end">
              <h6>Telephone: +7 700 000 00 00</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- right-side -->
      <div class="col-4 bg-image-cover position-relative ">
        <div class="position-absolute top-50 translate-middle ps-5">
          <img
            src="/images/Place Your Image Here (Double Click to Edit)_ 1.svg"
            alt="pastries"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
