<section class="min-vh-100">
  <div class="container-fluid min-vh-100">
    <div class="row min-vh-100 g-0">
      <div class="col-md-8 bg-color-cover min-vh-100 bg-danger ">
        <h2 class="h4">Peachy Pup Bakery</h2>
        <div
          class="d-flex justify-content-center align-items-center flex-column bg-black min-vh-100 text-left"
        >
          <h1>Tasty pastries</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the
          </p>
          <button type="button" class="text-uppercase main-btn">
            see more
          </button>
        </div>
      </div>
      <div class="col-md-4 bg-image-cover"></div>
    </div>
  </div>
</section>
