@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*? colors */
  --main-color: #c98a40;
  --dark-main-color: #584125;
  --secondary-color: #f7bc28;
  --secondary-color-hover: rgb(247, 188, 40,0.7);
  --light-color: #fff;
  --dark-color: #333333;

  /*? border-radius */
  --xs-radius: 10px;
  --sm-radius: 16px;
  --md-radius: 30px;

  /*? fonts */
  --roboto-font-family: "Roboto", sans-serif;
  --sen-font-family: "Sen", sans-serif;
  --poppins-font-family:"Poppins", sans-serif;
  --h1-sm: 74px;
  --h1-md: 144px;
} /* You can add global styles to this file, and also import other style files */

h1 {
  font-family: var(--sen-font-family);
  font-weight: 800;
}
p{
    font-family: var(--poppins-font-family);
}

.main-btn {
  background-color: var(--secondary-color);
  border-radius: var(--md-radius);
  color: var(--light-color);
  width: 194px;
  height: 60px;
  font-size: 18px;
  font-weight: 900;
  border-color: transparent;
  transition: 0.5s background-color;
}
.main-btn:hover{
      background-color: var(--secondary-color-hover);

}

.bg-image-cover {
  background-image: url("/images/MaskGroup.svg");
  background-size: cover;
  background-position: center;
}
.bg-color-cover {
  background-color: var(--main-color);
}

.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}