@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root {
  /*? colors */
  --main-color: #c98a40;
  --dark-main-color: #584125;
  --secondary-color: #f7bc28;
  --secondary-color-hover: rgb(247, 188, 40, 0.7);
  --bg-input:#FFD39F;
  --light-color: #fff;
  --dark-color: #333333;

  /*? border-radius */
  --xs-radius: 10px;
  --sm-radius: 16px;
  --md-radius: 30px;

  /*? fonts */
  --roboto-font-family: "Roboto", sans-serif;
  --sen-font-family: "Sen", sans-serif;
  --poppins-font-family: "Poppins", sans-serif;
  --abel-font-family: "Abel", sans-serif;
  --h1-sm: 64px;
  --h1-md: 120px;

  /* padding */
  --section-x-padding: 130px;
  --section-y-padding: 50px;
} /* You can add global styles to this file, and also import other style files */
.my-bg-light {
  background-color: var(--light-color);
}
h1 {
  font-family: var(--sen-font-family);
  font-weight: 800;
}
.main-heading {
  color: var(--light-color);
  font-size: var(--h1-md);
  width: fit-content !important;
}
p {
  font-family: var(--poppins-font-family);
}
i {
  color: var(--main-color);
}
.inner-section-padding {
  padding: var(--section-y-padding) var(--section-x-padding);
}
.main-btn {
  background-color: var(--secondary-color);
  border-radius: var(--md-radius);
  color: var(--light-color);
  width: 194px;
  height: 60px;
  font-size: 18px;
  font-weight: 900;
  border-color: transparent;
  transition: 0.1s background-color;
}
.main-btn:hover {
  background-color: var(--secondary-color-hover);
}
.form-btn {
  background-color: var(--light-color);
  border-radius: var(--md-radius);
  color: var(--dark-color);
  width: 140px;
  height: 50px;
  font-size: 18px;
  font-weight: 900;
  border-color: var(--main-color);
  transition: 0.1s background-color;
}
.form-btn:hover {
  background-color: var(--dark-main-color);
  color: var(--light-color);
  border-color: transparent;
}


.bg-image-cover {
  background-image: url("/images/MaskGroup.svg");
  background-size: cover;
  background-position: center;
}
.bg-color-cover {
  background-color: var(--main-color);
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
@media (max-width: 1199.98px) {
  .main-heading {
    font-size: 100px;
  }
  .inner-section-padding {
    padding: 30px 100px;
  }
  .main-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
}
@media (max-width: 991.98px) {
  .main-heading {
    font-size: 80px;
  }
  .inner-section-padding {
    padding: 30px 70px;
  }
}
@media (max-width: 767.98px) {
  .main-heading {
    font-size: 60px;
  }
  .main-btn {
    width: 130px;
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .main-heading {
    font-size: 45px;
  }
}
